:root {
    --background-color: rgb(5, 6, 26);
}

* {
    margin: 0;
    padding: 0;
}

html {
    /* background-color: var(--background-color); */
}

/* body {
    Must be empty otherwise will override what is done in script.js and the effect will not work
} */

.page {
    /* height: 100%; */
    /* height: 100vh; */
    width: 100%;
    overflow-x: hidden;
}

.thor {
    width: 75%;
    height: auto;
    position: fixed;
    top: 25%;
    left: 10%;
    /* transform: translate(-50%, -50%); */

    animation-name: scaleAndTranslate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-fill-mode: both;
}

@keyframes scaleAndTranslate {
    to {
        transform: scale(3) translateY(-1500px);
    }
}

.sky {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.headlineContainer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.headline {
    /* padding-top: 5rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    
    /* var(--background-color); */
    color: aliceblue;
    text-align: center;
    font-family: 'dm-serif';
    font-size: 800%;
    font-weight: 500;
    overflow: hidden;
    overflow-y: hidden;

    /* animation-name: pulse;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both; */

    text-shadow: rgb(255, 0, 0) 3px 3px 10px;
}

/* @keyframes pulse {
    0% {
        text-shadow: rgb(255, 0, 0) 0px 0px 0px;
        transform: scale(1);
    }

    50% {
        text-shadow: rgb(255, 0, 0) 3px 3px 50px;
        transform: scale(1.2);
    }

    100% {
        text-shadow: rgb(255, 0, 0) 0px 0px 0px;
        transform: scale(1);
    }
} */

.animationTomahawk {
    animation-name: animTomahawk;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: linear;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes animTomahawk {
    0% {
        transform: translateX(1000px) translateY(-1000px) rotate(0);
    }

    100% {
        transform: translateX(0px) translateY(0px) rotate(-1080deg);
    }
}

.animation-rotate {
    animation-name: anim-rotate;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-direction: linear;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: top right;
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.overflow {
    padding-bottom: 20rem;
    width: 100%;
    max-width: 100%;
    background-color: var(--background-color);
    color: aliceblue;
    overflow-x: hidden;
    text-align: center;
}

#text1, #text2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0rem 10vw;
    line-height: 2.5rem;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.5rem;
}

#text1 {
    margin-top: 0rem;
}

#text2 {
    margin-top: 10rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    color: aliceblue;
    transition: all 3s;
}

.video {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

@media (max-width: 1300px) {
    h1 {
        /* padding-top: 7rem; */
    }

    .thor {
        width: 100%;
        left: 0;
    }

    .text1 {
        padding: 2rem 5vw 5rem 5vw;
    }
}

@media (max-width: 900px) {
    h1 {
        /* padding-top: 10rem; */
    }

    .sky {
        /* width: 100%; */
        /* height: 45vh; */
    }

    .thor {
        width: 120%;
        left: -5%;
    }
}

@media (max-width: 600px) {
    .thor {
        width: 200%;
        left: -45%;
    }

    @keyframes scaleAndTranslate {
        to {
            transform: scale(3) translateY(-2000px);
        }
    }
}